#add-form-wrap {
  width: 90%;
  border: solid 1px white;
  color: var(--theme-grey-medium);
  background-color: var(--theme-grey-super-light);
  position: relative;
  text-align: left;
  padding: 20px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 350px;
}

#form-input-fields {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 180px;
  width: 200px;
}

#submit-add-form {
  width: 80px;
  height: 30px;
  align-self: center;
  color: white;
  background-color: var(--theme-grey-medium);
  border-radius: 3px;
  border: none;
  margin-top: 10px;
  position: absolute;
  bottom: 30px;
}

#upload-button {
  border-radius: 0;
  height: 35px;
}

form input,
select {
  border: none;
  height: 20px;
  border-radius: 10px;
  width: fit-content;
}

select:focus,
input:focus {
  outline: none;
}

#traveller-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#traveller-input label {
  display: flex;
  gap: 5px;
}

#cancel-add {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 30px;
  width: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
}
