#add-form-wrap {
  width: 90%;
  border: solid 1px white;
  color: var(--theme-grey-medium);
  background-color: var(--theme-grey-super-light);
  position: relative;
  text-align: left;
  padding: 20px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#submit-add-form {
  width: 80px;
  height: 30px;
  align-self: center;
  color: white;
  background-color: var(--theme-grey-medium);
  border-radius: 3px;
  border: none;
  margin-top: 10px;
}

select:focus,
input:focus {
  outline: none;
}
