#panel-wrap {
  color: var(--theme-grey-super-light);
  background-color: var(--theme-grey-dark);
  height: 100%;
  width: 35%;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 13px;
  overflow: hidden;
}

#panel-wrap h1 {
  margin: 15px;
}

#list-wrap {
  width: 100%;

  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  overflow: scroll;
}

#footer {
  position: absolute;
  bottom: 30px;
}
