#panel-wrap {
  color: var(--theme-grey-super-light);
  background-color: var(--theme-grey-dark);
  height: 100%;
  width: 35%;
  border-radius: 10px;
  text-align: center;
}

#panel-wrap h1 {
  margin: 15px;
}

