#login-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 400px;
  padding: 2rem;
  border-radius: 15px;
  background-color: var(--theme-grey-dark);
  color: var(--theme-grey-super-light);
  box-shadow: 8px 5px 5px var(--theme-grey-dark);
}

h1 {
  font-weight: 300;
  font-size: large;
}

#login-wrap form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  margin: 30px;
  padding: 10px 0;
}

#login-wrap input {
  border-radius: 30px;
  width: 100%;
  height: 40px;
  margin: 5px;
  border: none;
  padding: 10px;
  outline: none;
}

#login-signup-button {
  padding: 1rem;
  margin-top: 2rem;
  height: 55px;
  border-radius: 30px;
  width: 30%;
  align-self: center;
  border: none;
  font-size: medium;
  color: var(--theme-grey-super-light);
  background-color: var(--theme-grey-medium);
  text-align: center;
}

button:hover {
  outline: 2px solid var(--theme-grey-light);
}
